@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');




body{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif','PT Sans',sans-serif;
    font-size: 14px;
    color:#000;
    overflow-x: hidden;
    
    
    
    
}      




    *,
    *:before,
    *:after {
        box-sizing: border-box;
             
}

.navigation{
    padding-top: 1rem;
    padding-left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation .logotype:hover{
    box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

nav{
   padding-right: 5rem;
}

nav a{
    color: #171717;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-right:24px ;
    
}

nav a:hover{
    color:#C9A96E;
    transition: all 0.2s ease;
}

.logo{
    background-image:url(img/Fashion.jpg);
    width: 100vw;
    height: 700px;
    background-size: cover;
    position: relative;
    
}


.logo h4{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 128%;
    padding-top: 30.6rem;
    padding-left: 23.4rem;
    font-family: 'PT Sans';
}

.logo h1{
    color: white;
    font-size: 40px;
    line-height: 125%;
    font-weight: 700;
    font-family: 'PT Serif';
    font-style: normal;
    width: 560px;
    height: 100px;
    margin-left: 23.4rem;
    margin-bottom:0;
}

.logo p{
    width:283px;
    height:19px;
    margin-left: 23.4rem;
    color:white;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight:400;
    font-size: 14px;
    line-height: 135%;
    display: flex;
    justify-content: space-around;
    word-spacing: 5px;
}

.logo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background:linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.227328431372549) 100%);
    opacity: 0;
}
  
.logo:hover:after {
    opacity: 1;
}

.logo .data{
    color: #fff;
    font-family: 'PT Serif';
    font-style: light;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    
    
    
}

.logo .name{
    color: #fff;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

.logo .comment{
    color: #fff;
    font-family: 'PT Serif';
    font-weight:400;
    font-size: 14px;
    line-height: 135%;
}

.texts{
    display: flex;
    justify-content: space-between;
    width: 650px;
    padding-left: 375px;
    margin-top: 10px;
    font-style: light;
}

.container{
    display: flex;
    width: 0 auto;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 3.75rem;
    
}

main{
    max-width: 770px;
    height:1293px;
    display: flex;
    flex:2;
    
}

.blogs{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
    margin: auto;
    
}

.blogs .blog{
    width: 370px;
    height: 470px;
    
    
        
}

.blog:hover{
    box-shadow:0px 1px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    transform: scale(1.03);
    
}



.women{
    width: 370px;
    height: 280px;
}

.blog h4{

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #C9A96E;
    height: 16px;
    text-align: center;
    margin-bottom: -5px;
    

}

.blog p{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #171717;
    margin: 10px;
    
    
}

.info{
    display: flex;
    justify-content: center;
    gap:10px;
    

}


.info .data{
    color: #666666;
    font-family: 'PT Serif';
    font-style: light;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    
    
    
}

.info .name{
    color: #666666;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
}

.info .comment{
    color: #666666;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
}

.blog-wide{
    margin-top: 60px;
}

.blog-wide:hover{
    box-shadow:0px 1px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    transform: scale(1.03);
    height:auto;
}



.wrapper{
    padding-left:2.1rem;
    color:#666666;
}

.blog-wide h4{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    text-transform: uppercase;

    color: #C9A96E;

}

.blog-wide .info{
    display: flex;
    justify-content:flex-start;
    align-items: baseline;
    gap:10px;
    
    
}

.blog-wide h1{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: left;

    color: #171717;

}

.blog-wide p{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    width: 614px;
    height: 72px;
    color: #666666;
}

aside{
    max-width: 270px;
    flex:1;
}

.about{
    display: flex;
    flex-wrap: wrap;
    margin-top: -18px;

}


aside .about  h3{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    
    color: #171717;
    border: 1px solid #E5E5E5;
    padding: 15px 61px 14px 83px;
    
}

aside .about h2{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 131%;
    text-align: center;

    color: #171717;


}

aside .about p{
    
    text-align: center;
}

aside .about blockquote{
    text-align: center;
}








